@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Changa+One:ital@1&display=swap');
*{
    padding: 0;
    margin: 0;
}
#logo{
    display:flex;
    align-items: center;
    color: #ffffff;
    padding-left: 12px;
}
#logo img{
    width:45px;
    filter: invert(1);
}
#navbar{
    background-color: black;
}
#navbar ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 25px 0px;
}
#navbar li{
    list-style: none;
}
#navbar li a{
    font-family: 'Bebas Neue', cursive;
    text-decoration: none;
    padding: 26px 32px;
    font-size: 1.5rem;
    color: white;
}
#navbar li a:hover{
    color: rgb(0, 0, 0);
    -webkit-text-stroke: 0.5px rgb(255, 255, 255);
}
#introSection{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background: center center/cover no-repeat url("/static/bg1.jpg");
    height: 700px;
    font-size: 50px;
    font-family: 'Changa One', cursive;
}
#missionSection{
    height: 330px;
    background-color: #cd314e;
    padding-top: 12px;
}
#missionSection h3{
    text-align: center;
    font-size: 35px;
    font-family: 'Bebas Neue', cursive;
}
.card{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.card-box{
    border: 1px solid black;
    border-radius: 5px;
    width: 30%;
    text-align: center;
    background-color: #cb4860;
    font-size: 35px;
    padding: 20px;
}
.card-box p{
    font-size: 20px;
    display: inline-block;
}
.card-img{
    height: 100px;
    padding: 0 14px;
    display: inline-block;
}
.card-img img{
    height: inherit;
    padding: 0 14px;

}
#sponcerSection{
    padding-top: 20px;
    height: 300px;
    background-color: #ffdad9;
}
#sponcerSection h3{
    text-align: center;
    font-size: 35px;
    font-family: 'Bebas Neue', cursive;
}
#sponcer{
    height: 197px;
    max-width: 1000px;
    margin: auto;
}
.spImage{
    height: 80%;
    margin: 20px;
}
#foorer{
    height: 80px;
    color: white;
    text-align: center;
    line-height: 80px;
    background-color: #494949;
}