{% extends 'password_reset_base.html' %}
{% load static %}

{% block content %}
<div class="logo-container">
    <a href="/" class="logo-container-a">
      <span class="logo-1 logo-class">My</span
      ><span class="logo-2 logo-class">Cart</span>
    </a>
</div>
<h3>Password reset sent</h3>
<p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>

<p>If you don't receive am email, please make sure you've entered the email address you registered with, and check your <strong>SPAM</strong> folder also.</p>
{% endblock %}