{% load static %}
<div class="nav-container">
    <div class="nav-top-container">
        <div class="nav-top-container-content-div">
            <a href="#" class="earning">Earning: $598.75</a>
            <a href="#" class="deposit">Deposit: $387.5 </a>
            <a href="#" class="notification-icon"><i class='bx bxs-bell' ></i></a>
            <div class="account-id">ID: 3783473</div>
            <a href="#" class="profile-container">
                <div class="profile-logo"><img src="{% static 'images/user.jpg' %}" alt="profile-logo"></div>
                <div class="user-name">Piyal Hossein</div>
            </a>
        </div>
    </div>
    <div class="announcement">
       
    </div>
</div>