{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="hero-section">
    <div class="hero-content-wrapper row">
        <div class="hero-left col-6">
         <div class="hero-title"><h1>Best Microjob & Freelancing Site To Make Money Online</h1></div>
         <div class="hero-sub"><h5>Small Gigs. Big Results. <span> We Are Waiting For You</span></h5></div>
            <div class="hero-button">
                <a href="">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Start Earning
                </a>
            </div>
        </div>
        <div class="hero-right col-6">
            <div class="loader">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="cube-container-1">
                <div class="small-cube">
                    <div class="top"></div>
                    <div>
                        <span style="--i:0"></span>
                        <span style="--i:1"></span>
                        <span style="--i:2"></span>
                        <span style="--i:3"></span>
                    </div>
                </div>
            </div>
            <div class="cube-container-2">
                <div class="big-cube">
                    <div class="top"></div>
                    <div>
                        <span style="--i:0"></span>
                        <span style="--i:1"></span>
                        <span style="--i:2"></span>
                        <span style="--i:3"></span>
                    </div>
                </div>
            </div>
            <div class="cube-container-3">
                <div class="medium-cube">
                    <div class="top"></div>
                    <div>
                        <span style="--i:0"></span>
                        <span style="--i:1"></span>
                        <span style="--i:2"></span>
                        <span style="--i:3"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="counter">
    <div class="container">
        <div class="job-counter counter-div">
            <div class="logo-wrapper"><img src="{% static 'images/job.png' %}" alt="job-counter-logo"></div>
            <div class="count">1234154</div>
            <div class="counter-title">Job posted</div>
        </div>
        <div class="user-counter counter-div">
            <div class="logo-wrapper"><img src="{% static 'images/users.png' %}" alt="user-counter-logo"></div>
            <div class="count">4834154</div>
            <div class="counter-title">Total user</div>
        </div>
        <div class="task-counter counter-div">
            <div class="logo-wrapper"><img src="{% static 'images/task_done.png' %}" alt="task-counter-logo"></div>
            <div class="count">847638</div>
            <div class="counter-title">Task done</div>
        </div>
        <div class="paid-counter counter-div">
            <div class="logo-wrapper"><img src="{% static 'images/paid.png' %}" alt="paid-counter-logo"></div>
            <div class="count">$235526</div>
            <div class="counter-title">Paid</div>
        </div>
    </div>
</section>
<section class="technology">
    <div class="container">
        <div class="row_1">
            <div class="column_1">
                <h4><span></span> work up job</h4>
                <h2>Recent Activity</h2>
            </div>
            <div class="column_2">
                <div><img src="{% static 'images/large_box.webp'%}" alt="box"></div>
                <div><img src="{% static 'images/large_box.webp'%}" alt="box"></div>
                <div><img src="{% static 'images/large_box.webp'%}" alt="box"></div>
            </div>
        </div>
        <div class="row_2">
            <div class="tab_border">
                <div class="tab_screen">
                    <a href="" class="activity_row">
                        <div class="tab_activity_column_1">
                            <span class="job_title">5 Minutes watch video</span>
                            <small class="job_author">Rakib Mia</small>
                        </div>
                        <div class="tab_activity_column_2">
                            <div class="job_progression">
                                <div class="job_progression_number">5 out of 75</div>
                                <div class="job_progression_bar"></div>
                            </div>
                        </div>
                        <div class="tab_activity_column_3">
                            <div class="reword">$0.0025</div>
                            <div class="time_ago">15 Minutes ago</div>
                        </div>
                    </a>
                    <a href="" class="activity_row">
                        <div class="tab_activity_column_1">
                            <span class="job_title">5 Minutes watch video</span>
                            <small class="job_author">Rakib Mia</small>
                        </div>
                        <div class="tab_activity_column_2">
                            <div class="job_progression">
                                <div class="job_progression_number">5 out of 75</div>
                                <div class="job_progression_bar"></div>
                            </div>
                        </div>
                        <div class="tab_activity_column_3">
                            <div class="reword">$0.0025</div>
                            <div class="time_ago">15 Minutes ago</div>
                        </div>
                    </a>
                    <a href="" class="activity_row">
                        <div class="tab_activity_column_1">
                            <span class="job_title">5 Minutes watch video</span>
                            <small class="job_author">Rakib Mia</small>
                        </div>
                        <div class="tab_activity_column_2">
                            <div class="job_progression">
                                <div class="job_progression_number">5 out of 75</div>
                                <div class="job_progression_bar"></div>
                            </div>
                        </div>
                        <div class="tab_activity_column_3">
                            <div class="reword">$0.0025</div>
                            <div class="time_ago">15 Minutes ago</div>
                        </div>
                    </a>
                    <a href="" class="activity_row">
                        <div class="tab_activity_column_1">
                            <span class="job_title">5 Minutes watch video</span>
                            <small class="job_author">Rakib Mia</small>
                        </div>
                        <div class="tab_activity_column_2">
                            <div class="job_progression">
                                <div class="job_progression_number">5 out of 75</div>
                                <div class="job_progression_bar"></div>
                            </div>
                        </div>
                        <div class="tab_activity_column_3">
                            <div class="reword">$0.0025</div>
                            <div class="time_ago">15 Minutes ago</div>
                        </div>
                    </a>
                    <a href="" class="activity_row">
                        <div class="tab_activity_column_1">
                            <span class="job_title">5 Minutes watch video</span>
                            <small class="job_author">Rakib Mia</small>
                        </div>
                        <div class="tab_activity_column_2">
                            <div class="job_progression">
                                <div class="job_progression_number">5 out of 75</div>
                                <div class="job_progression_bar"></div>
                            </div>
                        </div>
                        <div class="tab_activity_column_3">
                            <div class="reword">$0.0025</div>
                            <div class="time_ago">15 Minutes ago</div>
                        </div>
                    </a>
                    <a href="" class="activity_row">
                        <div class="tab_activity_column_1">
                            <span class="job_title">5 Minutes watch video</span>
                            <small class="job_author">Rakib Mia</small>
                        </div>
                        <div class="tab_activity_column_2">
                            <div class="job_progression">
                                <div class="job_progression_number">5 out of 75</div>
                                <div class="job_progression_bar"></div>
                            </div>
                        </div>
                        <div class="tab_activity_column_3">
                            <div class="reword">$0.0025</div>
                            <div class="time_ago">15 Minutes ago</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="our-service">
    <div class="container">
        <div class="row-1">
            <div class="column">
                <h4><span></span> We Provide Best</h4>
                <h2>Services</h2>
            </div>
        </div>
        <div class="row-2">
            <div class="column-1 column">
                <div class="icon-div">
                    <div class="icon-container">
                        <img src="{% static 'images/work1.png' %}" alt="image">
                        <img src="{% static 'images/work2.png' %}" alt="image">
                    </div>
                </div>
                <h3 class="service-title">work</h3>
                <div class="desc">
                    <span>Select jobs you like</span>
                    <span>Complete these tasks</span>
                    <span>Explore required tasks</span>
                    <span>Send required proofs</span>
                </div>
            </div>
            <div class="column-2 column">
                <div class="icon-div">
                    <div class="icon-container">
                        <img src="{% static 'images/job_done1.png' %}" alt="image">
                        <img src="{% static 'images/job_done2.png' %}" alt="image">
                    </div>
                </div>
                <h3 class="service-title">job</h3>
                <div class="desc">
                    <span>Post your job on your desire</span>
                    <span>Set requirements & Estimated Budget</span>
                    <span>Rate each task</span>
                    <span>Reach to thousand of workers</span>
                </div>
            </div>
            <div class="column-3 column">
                <div class="icon-div">
                    <div class="icon-container">
                        <img src="{% static 'images/earn1.png' %}" alt="image">
                        <img src="{% static 'images/earn2.png' %}" alt="image">
                    </div>
                </div>
                <h3 class="service-title">earn/deposit</h3>
                <div class="desc">
                    <span>Select Payment Method</span>
                    <span>Set your amount</span>
                    <span>Place your order</span>
                    <span>Get payment/deposit found</span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="benefits">
    <div class="container">
        <div class="content">
            <h5>FLEXIBLE SCHEDULE</h5>
            <h3>Work from anywhere, anytime.</h3>
            <p>Enjoy the safety & flexibility of working remotely. All you need is a computer & internet.</p>
            <div class="banner"><img src="{% static 'images/banner.jpg' %}" alt="banner"></div>
        </div>
    </div>
    <div class="encourage">
        <h6>So what are you waiting for?</h6>
        <h1>Find Great Work?</h1>
        <div class="start-now-div"><a href="">Start now <span><img src="{% static 'images/arrow.webp' %}" alt="Arrow"></span></a></div>
    </div>
</section>
{% endblock content %}