{% extends 'primary/primary_base.html' %}
{% load static %}
{% block content %}
<div class="base-container">
    <div class="top-button-section">
        <div class="left-button buttons binary-button-active">Your Active Jobs</div>
        <span></span>
        <div class="right-button buttons">Your Finished Jobs</div>
    </div>
    <div class="list-container">
        <div class="titles-container">
            <div class="job-number">job number</div>
            <div class="job-id">job id</div>
            <div class="job-name">job name</div>
            <div class="active-worker">active workers</div>
        </div>
        <div class="my-task-container">
            <a href="" class="odd-task task">
                <div class="job-number">1.</div>
                <div class="job-id">3563863</div>
                <div class="job-name">Like my fb page and watch a full video..</div>
                <div class="active-worker">102</div>
            </a>
            <a href="" class="even-task task">
                <div class="job-number">2.</div>
                <div class="job-id">3563863</div>
                <div class="job-name">Like my fb page and watch a full video...</div>
                <div class="active-worker">102</div>
            </a>
            <a href="" class="odd-task task">
                <div class="job-number">1.</div>
                <div class="job-id">3563863</div>
                <div class="job-name">Like my fb page and watch a full video..</div>
                <div class="active-worker">102</div>
            </a>
            <a href="" class="even-task task">
                <div class="job-number">2.</div>
                <div class="job-id">3563863</div>
                <div class="job-name">Like my fb page and watch a full video...</div>
                <div class="active-worker">102</div>
            </a>
            <a href="" class="odd-task task">
                <div class="job-number">1.</div>
                <div class="job-id">3563863</div>
                <div class="job-name">Like my fb page and watch a full video..</div>
                <div class="active-worker">102</div>
            </a>
            <a href="" class="even-task task">
                <div class="job-number">2.</div>
                <div class="job-id">3563863</div>
                <div class="job-name">Like my fb page and watch a full video...</div>
                <div class="active-worker">102</div>
            </a>
            <a href="" class="odd-task task">
                <div class="job-number">1.</div>
                <div class="job-id">3563863</div>
                <div class="job-name">Like my fb page and watch a full video..</div>
                <div class="active-worker">102</div>
            </a>
            <a href="" class="even-task task">
                <div class="job-number">2.</div>
                <div class="job-id">3563863</div>
                <div class="job-name">Like my fb page and watch a full video...</div>
                <div class="active-worker">102</div>
            </a>
            <a href="" class="odd-task task">
                <div class="job-number">1.</div>
                <div class="job-id">3563863</div>
                <div class="job-name">Like my fb page and watch a full video..</div>
                <div class="active-worker">102</div>
            </a>
            <a href="" class="even-task task">
                <div class="job-number">2.</div>
                <div class="job-id">3563863</div>
                <div class="job-name">Like my fb page and watch a full video...</div>
                <div class="active-worker">102</div>
            </a>
            <a href="" class="odd-task task">
                <div class="job-number">1.</div>
                <div class="job-id">3563863</div>
                <div class="job-name">Like my fb page and watch a full video..</div>
                <div class="active-worker">102</div>
            </a>
            <a href="" class="even-task task">
                <div class="job-number">2.</div>
                <div class="job-id">3563863</div>
                <div class="job-name">Like my fb page and watch a full video...</div>
                <div class="active-worker">102</div>
            </a>
            <a href="" class="odd-task task">
                <div class="job-number">1.</div>
                <div class="job-id">3563863</div>
                <div class="job-name">Like my fb page and watch a full video..</div>
                <div class="active-worker">102</div>
            </a>
            <a href="" class="even-task task">
                <div class="job-number">2.</div>
                <div class="job-id">3563863</div>
                <div class="job-name">Like my fb page and watch a full video...</div>
                <div class="active-worker">102</div>
            </a>
        </div>
    </div>
</div>
{% endblock content %}