{% extends 'primary/primary_base.html' %}
{% load static %}
{% block content %}
<div class="notification-root">
    <h1 class="notification-title">Notifications</h1>
    <div class="notification-container">
        <a href="" class="notification">
            <div class="notification-content">Your account verified</div>
            <small class="notification-since">48 min ago</small>
        </a>
        <a href="" class="notification">
            <div class="notification-content">Your account verified</div>
            <small class="notification-since">48 min ago</small>
        </a>
        <a href="" class="notification">
            <div class="notification-content">Your account verified</div>
            <small class="notification-since">48 min ago</small>
        </a>
        <a href="" class="notification">
            <div class="notification-content">Your account verified</div>
            <small class="notification-since">48 min ago</small>
        </a>
        <a href="" class="notification">
            <div class="notification-content">Your account verified</div>
            <small class="notification-since">48 min ago</small>
        </a>
        <a href="" class="notification">
            <div class="notification-content">Your account verified</div>
            <small class="notification-since">48 min ago</small>
        </a>
        <a href="" class="notification">
            <div class="notification-content">Your account verified</div>
            <small class="notification-since">48 min ago</small>
        </a>
        <a href="" class="notification">
            <div class="notification-content">Your account verified</div>
            <small class="notification-since">48 min ago</small>
        </a>
        <a href="" class="notification">
            <div class="notification-content">Your account verified</div>
            <small class="notification-since">48 min ago</small>
        </a>
    </div>
</div>
{% endblock content %}