{% extends 'primary/primary_base.html' %}
{% load static %}
{% block content %}
    <div class="job-container">
        <div class="top-section">
            <div class="button-section">
                <button>Select category</button>
                <button>Select Location</button>
            </div>
            <div class="sort-section">
                <span>Sort</span>
                <img src="{% static 'images/sort.png' %}" alt="Sort">
            </div>
        </div>
        <div class="job-section">
            <a href="" class="job">
                <div class="job-title">9 minute watching video</div>
                <div class="progression">
                    <div class="progression-count">303 of 318</div>
                    <div class="progression-bar"></div>
                </div>
                <div class="amount">$0.0300</div>
            </a>
            <a href="" class="job">
                <div class="job-title">9 minute watching video</div>
                <div class="progression">
                    <div class="progression-count">303 of 318</div>
                    <div class="progression-bar"></div>
                </div>
                <div class="amount">$0.0300</div>
            </a>
            <a href="" class="job">
                <div class="job-title">9 minute watching video</div>
                <div class="progression">
                    <div class="progression-count">303 of 318</div>
                    <div class="progression-bar"></div>
                </div>
                <div class="amount">$0.0300</div>
            </a>
            <a href="" class="job">
                <div class="job-title">9 minute watching video</div>
                <div class="progression">
                    <div class="progression-count">303 of 318</div>
                    <div class="progression-bar"></div>
                </div>
                <div class="amount">$0.0300</div>
            </a>
            <a href="" class="job">
                <div class="job-title">9 minute watching video</div>
                <div class="progression">
                    <div class="progression-count">303 of 318</div>
                    <div class="progression-bar"></div>
                </div>
                <div class="amount">$0.0300</div>
            </a>
            <a href="" class="job">
                <div class="job-title">9 minute watching video</div>
                <div class="progression">
                    <div class="progression-count">303 of 318</div>
                    <div class="progression-bar"></div>
                </div>
                <div class="amount">$0.0300</div>
            </a>
            <a href="" class="job">
                <div class="job-title">9 minute watching video</div>
                <div class="progression">
                    <div class="progression-count">303 of 318</div>
                    <div class="progression-bar"></div>
                </div>
                <div class="amount">$0.0300</div>
            </a>
            <a href="" class="job">
                <div class="job-title">9 minute watching video</div>
                <div class="progression">
                    <div class="progression-count">303 of 318</div>
                    <div class="progression-bar"></div>
                </div>
                <div class="amount">$0.0300</div>
            </a>
            <a href="" class="job">
                <div class="job-title">9 minute watching video</div>
                <div class="progression">
                    <div class="progression-count">303 of 318</div>
                    <div class="progression-bar"></div>
                </div>
                <div class="amount">$0.0300</div>
            </a>
            <a href="" class="job">
                <div class="job-title">9 minute watching video</div>
                <div class="progression">
                    <div class="progression-count">303 of 318</div>
                    <div class="progression-bar"></div>
                </div>
                <div class="amount">$0.0300</div>
            </a>
            <a href="" class="job">
                <div class="job-title">9 minute watching video</div>
                <div class="progression">
                    <div class="progression-count">303 of 318</div>
                    <div class="progression-bar"></div>
                </div>
                <div class="amount">$0.0300</div>
            </a>
            <a href="" class="job">
                <div class="job-title">9 minute watching video</div>
                <div class="progression">
                    <div class="progression-count">303 of 318</div>
                    <div class="progression-bar"></div>
                </div>
                <div class="amount">$0.0300</div>
            </a>
            <a href="" class="job">
                <div class="job-title">9 minute watching video</div>
                <div class="progression">
                    <div class="progression-count">303 of 318</div>
                    <div class="progression-bar"></div>
                </div>
                <div class="amount">$0.0300</div>
            </a>
            <a href="" class="job">
                <div class="job-title">9 minute watching video</div>
                <div class="progression">
                    <div class="progression-count">303 of 318</div>
                    <div class="progression-bar"></div>
                </div>
                <div class="amount">$0.0300</div>
            </a>
            <a href="" class="job">
                <div class="job-title">9 minute watching video</div>
                <div class="progression">
                    <div class="progression-count">303 of 318</div>
                    <div class="progression-bar"></div>
                </div>
                <div class="amount">$0.0300</div>
            </a>
            <a href="" class="job">
                <div class="job-title">9 minute watching video</div>
                <div class="progression">
                    <div class="progression-count">303 of 318</div>
                    <div class="progression-bar"></div>
                </div>
                <div class="amount">$0.0300</div>
            </a>
        </div>
        <div class="more-section">
            <button class="more-btn">More Jobs</button>
        </div>
    </div>
{% endblock content %}