doctype html
html
  head
    title SA dance academy
    style
      include ../static/style.css
  body
    nav#navbar 
      ul 
        #logo 
          img(src="../static/img/logo.png")
          | SADA
        li #[a(href="/") Home]
        li #[a(href="/") About]
        li #[a(href="/") Service]
        li #[a(href="/") Contact US]
        li #[a(href="/") Class Info]

    section#introSection
      | Welcome to SA Dance Academy 

    section#missionSection
      h3 Our Mission
      div.card
        div.card-box
          div PERFECTION
          div.card-img 
            img(src="../static/img/1.png")
          div.card-content 
            p perfection is the key of atraction

        div.card-box
          div HEALTHY
          div.card-img 
            img(src="../static/img/2.png")
          div.card-content 
            p Health is the wealth

        div.card-box
          div HAPPINESS
          div.card-img 
            img(src="../static/img/3.png")
          div.card-content 
            p The meaing of life is to find happiness.

    section#sponcerSection 
      h3 Our sponcers
      #sponcer 
        img(src="../static/img/logo1.png", alt="Sponcers Image", class="spImage")
        img(src="../static/img/logo2.png", alt="Sponcers Image", class="spImage")
        img(src="../static/img/logo3.png", alt="Sponcers Image", class="spImage")
        img(src="../static/img/logo4.png", alt="Sponcers Image", class="spImage")

    footer#foorer 
      //- to write copyright symbol type alt+0169
      | Copyright © 2023 SADanceAcademy.com | all rights reserved

    script
      include ../static/script.js