@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&family=Poppins:wght@800&family=Quicksand:wght@700&family=Roboto:wght@150&display=swap');
.logo-container{
    text-align: center;
}
.logo-container-a
{
    font-size: 1.7rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}
.logo-1{
    color: #FFD333;
    background-color: #3D464D;
}
.logo-2{
    color: #3D464D;
    background-color: #FFD333;
    transform: translateX(-42px);
}
.logo-class{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
body{
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 30PX;
}
.main-container{
    width: 420px;
    min-height: 340px;
    border: 1px solid rgb(216, 216, 216);
    padding: 40px;
    border-radius: 15px;
    font-family: 'Roboto', sans-serif;
}
h3{
    font-family: 'Quicksand', sans-serif;
    font-size: 22px;
    border-bottom: 1px solid rgb(216, 216, 216);
}
input[type=submit]{
    position: relative;
    width: 80px;
    height: 35px;
    bottom: -35px;
    right: -346px;
    background-color: #FFD333;
    border: none;
    border-radius: 5px;
}
.log-in{
    display: inline-block;
    text-decoration: none;
    padding: 5px;
    padding-left: 9px;
    height: 30px;
    width: 50px;
    background-color: #FFD333;
    color: #000000;
    border-radius: 5px;
}
.log-in:hover{
    background-color: #e9c12f;
}
input[type=submit]:hover{
    background-color: #ebc230;
    
}
.password_reset_email{
    margin-top: 40px;
}
input[type=email],
input[type=password]{
    width: 99%;
    height: 35px;
    font-size: 18px;
    padding-left: 1%;
    border: 1px solid rgb(216, 216, 216);
    outline: none;
}
strong,
.errorlist{
    color: red;
}
ul{
    margin: 0;
}
@media screen and (max-width:600px){
    .main-container{
        border: none;
        width: 100%;
        height: 100%;
    }
    input[type=submit] {
        position: absolute;
        width: 80px;
        height: 35px;
        bottom: 26px;
        right: 24px;
        background-color: #FFD333;
        border: none;
        border-radius: 5px;
    }
    .logo-container {
        text-align: center;
        position: absolute;
        top: 2rem;
        left: 0;
        width: 100%;
    }
}