{% load static %}
<div class="container">
    <div class="row-1">
      <div class="column">
        <div class="social-div">
          <h3>Follow us on</h3>
          <div class="social-icons">
            <a href=""><i class='bx bxl-facebook'></i></a>
            <a href=""><i class='bx bxl-youtube' ></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row-2">
      <div class="column-1 column">
        <div class="bottom-banding">
          <a href="" class="bottom-logo-container"><img src="{% static 'images/logo.png' %}" alt="logo"> Next IT Doctor</a>
        </div>
        <div class="quote">Best Microjob & Freelance Site to
          Make Money Online</div>
      </div>
      <div class="column-2 column">
        <h6>Company</h6>
        <a href="">About Us</a>
        <a href="">Privacy Policy</a>
        <a href="">Terms & Conditions</a>
      </div>
      <div class="column-3 column">
        <h6>Services</h6>
        <a href="">FAQ</a>
        <a href="">Download Mobile App</a>
        <a href="">Refund Policy</a>
        <a href="">Cencellation Policy</a>
      </div>
      <div class="column-4 column">
        <h6>Support</h6>
        <a href="">Contact Us</a>
      </div>
    </div>
  </div>
  <div class="copyright">&copy;Next IT Doctor All Rights Reserved.</div>