@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Dosis:wght@200&family=Grape+Nuts&display=swap');
body {
  height: 100vh;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFD4DD;
}

#love {
  width: 25vw;
  height: 25vw;
  background: red;
  transform: rotate(-45deg);
  animation: love 0.5s linear infinite;
  box-shadow: 3vw 3vw 10vw #FF9BAF;
}

@keyframes love {
  0% {
    transform: rotate(-45deg) scale(0.9);
  }

  80% {
    transform: rotate(-45deg) scale(1.0);
  }

  100% {
    transform: rotate(-45deg) scale(1.07);
  }
}

#love::before {
  content: "";
  width: 25vw;
  height: 25vw;
  background: red;
  position: absolute;
  top: -50%;
  border-radius: 50%;
}

#love::after {
  content: "";
  width: 25vw;
  height: 25vw;
  background: red;
  position: absolute;
  right: -50%;
  border-radius: 50%;
}
.text{
  position: absolute;
  font-family: 'Grape Nuts', cursive;
  -webkit-text-fill-color: rgba(0,0,0,0);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black; 
}
#I{
  font-size: 20vw;
  top:23vh;
  left:10vh;
}
#You{
  font-size: 20vw;
  bottom: 17vh;
  right:10vh;
}